Thumbs.db
.DS_Store
.dist
.tmp
.lock
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
public
.hugo_build.lock
jsconfig.json
hugo_stats.json
go.sum
yarn.lock
# ignore any resources folder…
resources

# …but do track these two
!themes/KRaCR-Lab/layouts/resources/
!themes/KRaCR-Lab/layouts/resources/**

!content/English/resources/
!content/English/resources/**